{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Budgy</h1>
    <p class="lead">Your Budget Genie: Track expenses easily by uploading receipts and viewing your spending habits.</p>
    <hr class="my-4">
    <p>Get started by logging in or creating a new account.</p>
    <div class="mt-4">
        <a class="btn btn-primary btn-lg me-2" href="{{ url_for('auth.login') }}" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a>
    </div>
</div>
{% endblock %}
